<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUTZ 333 / Form Submit Sucess!</title>
    <link rel="icon" href="../static/imgs/GUTZ333.ico">
    <link rel="stylesheet" href="../static/css/formSubmit.css">
</head>
<body>
    <main>
        <h1>Form submit sucess!!</h1>
        <img src="../static/imgs/GUTZ333.ico" alt="" width="90px" height="90px">
        <button>Back to Website</button>
    </main>
</body>
</html>